body {
	margin: 0 auto;

	background: white;

	width: 100%;

}

.fotorama {

	position: relative !important;
    width: 25% !important;

    float: left;
    border-radius: 360em !important;
	box-sizing: border-box !important;


}

#faded {

	display: none;
}

.fotorama__wrap, .fotorama__wrap img {
    position: absolute;
    margin: 0;
    float: right;
       border-radius: 360em !important;

}
#loggedIn {
	display: block !important;
	height: 100% !important;
	width: 100% !important;
	padding: 10px;
	color: white;
}
#loggedIn b {
	text-shadow: 0px 0px 2px black;
}
#acknowledge
{

	background: blue;
}


#menu {
	position:  fixed;
	display: block;

	top:0;
	background: cadetblue;
	width: 100%;
	padding: 0px;
	z-index:900;
	margin-top: -10px;
	
}
#menu li {

	float: right;

	font-size: 12px;

	width: 30%;
	text-align: center;
	
}

#menu li a {
	display: block;
	width: 100%;
	height: 100%;
	color: white;
	padding: 10px;
	box-sizing: border-box;

}
#menu li a:hover {
	color: red;
}
#menu li:hover, .selected {

	background: #dbdbdb;
	color: red !important;
	
}
#container {

	position: relative;
	width: 100%;
	height: auto;
    min-height: 900px;
	margin-top: 50px;

	background: white;


}

#header {
	position: relative;
	text-align: center;
	width: 100%;
	height: 320px;
	
	margin: auto;

	padding-top: 1px;
	padding-bottom: 1px;
	background: white;


}
#actuallogo {
	float: right;
	width: 400px;
}
.logo {

	text-align: center;
	width: 100%;
	height: 400px;
	
    box-sizing: border-box;

}

#wheelholder {
	position: absolute;
	display: inline-block;
	width: 300px;
	

	padding: 0px;
	box-sizing: border-box;
	left: 470px;
	top: 100px;
}

#thewheel {

	

	width: 100%;


	text-align: center;
	margin: 0 auto;
	margin-top: -100px;
	margin-bottom: -100px;
	/*display: none;
	*/
	transform: scale(0.55);
	box-sizing: border-box;

}

#content {

	display: block;
       height: auto;
	min-height: 460px;
	width: 100%;


	box-sizing: border-box;
	




}
#vids {
	box-sizing: border-box;
    display: block;
	width: 100%;

    margin-top: 20px;
height: 224px !important;
	margin-bottom: 20px;
}

.vidbox {
	display: block;

	font-size: 12px;
	padding-bottom: 15px;
	float: left;
	margin-right: 1%;
	margin-left: 1%;
	
	overflow-y: hidden;
}
.vidbox iframe {

	height: 224px !important;
}
iframe {
	display: block;

}
.feed {
	display: block;

	font-size: 12px;
	margin-bottom: 15px;
	width: 320px;
	float: right;
	padding-right: 30px;

}


#content p {
	position: relative;
	display: inline-block;
	width: 100%;
	
	background: white;

	padding: 35px;
	box-sizing: border-box;

	margin-top: -5px;

}
#content p:nth-of-type(2n)
{

	background: lightblue;
}
big {
	letter-spacing: 5px;
}
#title {
	display: block;
	padding: 15px;
	
	box-shadow: inset 0px 0px 50px cadetblue;

	text-align: center;
	margin-bottom: 5px;
	font-weight: bold;
	font-family: sans-serif;
	text-transform: lowercase;
	color: black;
	

	
}
#subtitle
{
	display: block;
	padding: 6px;
	box-shadow: inset 0px 0px 50px cadetblue;
	
	text-align: center;
	margin-bottom: 5px;
	font-weight: bold;
	font-family: sans-serif;
	text-transform: lowercase;
	color: black;
	font-size: 14px;

	

	
}
#details {
	font-size: small;
	box-sizing: border-box;
	position: absolute;

	padding: 0 25px;
	vertical-align: bottom;
	bottom: 12px;
	right: 0px;

	text-align: right;
}
#footer {
	margin: auto;
	width: 100%;
	text-align: center;
	line-height: 50px;
	padding-top: 20px;
	font-size: 12px;
	background: black;
	color: white;
	vertical-align: middle;
}
.clear {
	clear: both;
}


@media screen and (max-width: 1330px)
{

	.fotorama {

		display: none !important;
	}

	.vidbox, iframe {
		height: auto !important;
		width: 100% !important;
	}
	#wheelholder {

		top: 50px;
		left: 0px;
	}
	.feed { display: none;}
}

@media screen and (max-width: 835px )
{
	#wheelholder {

		display: none;
	}
	#actuallogo {

		float: none;
	}

}