RewriteEngine On

RewriteRule ^feedback$ ./feedback.php
RewriteRule ^resetpassword$ ./resetpw.php
RewriteRule ^changepassword$ ./changepw.php
RewriteRule ^reset-([0-9]+)-([A-Za-z0-9]+) ./resetpw.php?uid=$1&hash=$2
RewriteRule ^logout$ ./logout.php
RewriteRule ^admin$ ./admin.php
RewriteRule ^resetdb$ ./resetdb.php
RewriteRule ^import$ ./import.php
RewriteRule ^export$ ./export.php
RewriteRule ^login$ ./login.php
RewriteRule ^theme$ ./theme.php
RewriteRule ^display$ ./display.php
RewriteRule ^update$ ./update.php
RewriteRule ^import$ ./import.php
RewriteRule ^watch$ ./watch.php
RewriteRule ^add$ ./add.php
RewriteRule ^delete$ ./delete.php
RewriteRule ^thumb$ ./thumb.php